In [1]:
#task1(a)
for i in range(24,-12,-6):
    if i == -6:
        print(i,end='')
    else:
        print(i,end=',')

24,18,12,6,0,-6

In [2]:
#task1(b)
for i in range(-10,25,5):
    if i==20:
        print(i,end='')
    else:
        print(i,end=',')

-10,-5,0,5,10,15,20

In [3]:
#task1(c)
for i in range(18,72,9):
    if i==63:
        print(i,end='')
    else:
        print(i,end=',')

18,27,36,45,54,63

In [6]:
#task1(d)
for i in range(18,72,9):
    if i==63:
        if i%2!=0:
            print(i*(-1),end='')
            
    else:
        if i%2==0:
            print(i,end=',')
        else:
            print(i*(-1),end=',')

18,-27,36,-45,54,-63

In [7]:
#task2
user = input()
num = int(input())
for i in range(num):
    print(user)

Toyota
2
Toyota
Toyota

In [9]:
#task3
num = int(input())
sum = 0
for i in range(1,num+1):
    if i%7==0 and i%9==0:
        sum += i
print(sum)

600
2835

In [11]:
#task4
num = int(input())
sum = 0
for i in range(1,num+1):
    if not(i%7==0 and i%9==0) and (i%7==0 or i%9==0):
        sum += i
print(sum)

600
39814

In [12]:
#task5
for i in range(11,50,2):
    print(i,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [14]:
#task6
num = int(input())
n1 = 0
n2 = 0
for i in range(1,num+1,2):
    n1 += i**2
for i in range(2,num+1,2):
    n2 += i**2
print(n1 - n2)

10
-55

In [16]:
#task7
sum = 0
count = 0
for i in range(10):
    num = int(input())
    if num%2!=0:
        sum+=num
        count+=1
print('The total of the odd numbers is',sum,'and their average is',sum/count)

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [17]:
#task8
num =int(input())
sum = 0
for i in range(1,num+1):
    if i%7==0:
        sum +=i
print(sum)

50
196

In [18]:
#task9
sum = 0
for i in range(5):
    user = int(input())
    sum +=user
    print(sum)

1
1
2
3
3
6
4
10
5
15

In [19]:
#task10
num =int(input())
while num!=0:
    result = num%10
    num //= 10
    if num==0:
        print(result,end='')
    else:
        print(result,end=',')

32768
8,6,7,2,3

In [20]:
#task11
num = int(input())
num//=10
count = 1
while num!= 0:
    num//=10
    count+=1
print(count)

9876
4

In [24]:
#task12
user = int(input())
num = user
multi =1
num//=10
count = 1
while num!= 0:
    num//=10
    count+=1
count -=1
for i in range(count):
    multi *= 10
while user!=0:
    result = user//multi
    user %= multi
    multi //= 10
    if user==0:
        print(result,end='')
    else:
        print(result,end=',')

32768
3,2,7,6,8

In [25]:
#task13
num =int(input())
divisor = 0
for i in range(1,num+1):
    if num%i==0:
       divisor +=1
       print(i)
print("Total",divisor,'divisors.')

6
1
2
3
6
Total 4 divisors.

In [27]:
#task14
num = int(input())
sum = 0
for i in range(1,num):
    if num%i==0:
        sum +=i
if sum == num:
    print(num,'is a perfect number')
else:
    print(num,'is not a perfect number')

33
33 is not a perfect number

In [29]:
#task15
num =int(input())
divisor = 0
for i in range(1,num+1):
    if num%i==0:
       divisor +=1
if divisor == 2:
    print(num,'is a prime number')
else:
    print(num,'is not a prime number')

11
11 is a prime number

In [30]:
#task16
num = int(input())
max = 0
min = 0
sum = 0
for i in range(num):
    user = int(input())
    if user>max:
        max = user
    if user<min:
        min = user
    sum += user
print("Maximum",max)
print('Minimum',min)
print('Average is',sum/num)

5
10
4
-1
-100
1
Maximum 10
Minimum -100
Average is -17.2

In [31]:
#task17
num = int(input())
for row in range(num):
    for coloum in range(num):
        print("+",end='')
    print()

5
+++++
+++++
+++++
+++++
+++++

In [32]:
#task18
M = int(input())
N = int(input())
for row in range(1,M+1):
    for coloum in range(1,N+1):
        print(coloum,end='')
    print()

4
6
123456
123456
123456
123456

In [34]:
#task19
N = int(input())
for row in range(1,N+1):
    for coloum  in range(1,row+1):
        print(coloum,end='')
    print()

4
1
12
123
1234

In [37]:
#task25
num =int(input())
num1= 0
num2 = 1
sum = 0
if num<0:
    print("Please Bro enter a valid number")
else:
    for i in range(num):
        if sum<num:
            print(sum,end=' ')
            num1 = num2 
            num2 = sum
            sum = num1 + num2

10
0 1 1 2 3 5 8

In [41]:
#task26
num = int(input())
mystr = ''
while num!=0:
    result = num%2
    mystr = str(result) + mystr
    num //=2
print(int(mystr))

29
11101

In [56]:
#task27
user = int(input())
num = user
num//=10
count = 1
while num!= 0:
    num//=10
    count+=1
sum = 0
i = 0
while user!=0:
    result = user%10
    user //= 10
    sum += result * (2**i)
    i += 1
print(sum)

1010
10

In [64]:
#task28
num1 = int(input())
num2 = int(input())
prime = 0
perfect = 0
prime_num = ''
perfect_num = ''

for i in range(num1,num2+1):
    sum = 0
    divisor = 0
    for j in range(1,i+1):
        if i%j==0:
            divisor += 1
    if divisor ==2:
        prime += 1
        prime_num += str(i)+','
    for k in range(1,i):
        if i%k==0:
            sum += k
    if i==sum:
        perfect += 1
        perfect_num += str(i)+','
print('Between 2 and 6,')
if prime==1:
    print("Found",prime,'prime number')
else:
    print("Found",prime,'prime numbers')
if perfect==1:
    print("Found",perfect,'perfect number')
else:
    print("Found",perfect,'perfect numbers')
print('Prime numbers:',prime_num[:-1])
print('Perfect number:',perfect_num[:-1])

2
6
Between 2 and 6,
Found 3 prime numbers
Found 1 perfect number
Prime numbers: 2,3,5
Perfect number: 6

In [70]:
#task29
u1 = int(input())
length_u1 = len(str(u1))
u2 = int(input())
divisor = int(input())

for i in range(u1,u2+1):
    multi = 1
    for j in range(length_u1):
        x = str(i)
        x = x[j]
        multi = multi * int(x)
        continue
    if multi%divisor == 0:
        print(multi,end=' ')

25
30
4
12 16 0